[2018-04-04 17:10] Youngestdev opened #2 "Unable to link globally on linux"
Hi, I'm unable to add simple as a compiler to the global set. I mean to make it accessible in all corners. Any help ? I'm a Linux user...

In npm, we have something like...
[code]

[2018-04-06 11:42] mykeels opened #7 "licence folder is mispelled and redundant"
The [licence](https://github.com/simple-lang/simple/tree/master/licence) directory seems to be a duplicate of https://github.com/simple-lang/simple/blob/master/LICENSE

Is there a reason it exists @Thecarisma ?

[2018-04-06 11:50] Thecarisma commented on #7
- 1. The folder was actually there in case we are adding more copyright and copyleft licenses but basically simple uses the MIT LICENSE.

- 1. The misspelling was a mistake

[2018-04-06 11:51] mykeels commented on #7
Okay, do we still need the folder?

[2018-04-06 11:51] Thecarisma commented on #7
I will rename it by next commit

[2018-04-06 11:53] Thecarisma commented on #7
i will remove it for now but if there is need to it will be re added

[2018-04-07 10:41] Youngestdev opened #8 "Unable to load shared library in Linux."
I've fixed the issues with calling modules and I'll write a new documentation soon but **.dll** files cannot be run in Linux. How do we solve those issues as dynamic modules depend on those files ?

[2018-04-07 13:49] Thecarisma commented on #8
**simple** being in it infantry no dynamic module is available for platforms except windows. we are looking forward to fully support LINUX/UNIX and MAC by next release

[2018-04-07 13:51] Youngestdev commented on #8
Okay great. Discussion is already ongoing 👌

On Apr 7, 2018 14:50, "Azeez Adewale" <notifications@github.com> wrote:

*simple* being in it infantry no dynamic module is available for platforms
except windows. we are looking forward to fully support LINUX/UNIX and MAC
by next release

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://

[2018-04-15 10:44] Youngestdev commented on #8
Now, the issue is working with the shared libraries instead of dynamic modules (.dll)

[2018-05-04 21:48] iamcoderisk commented on #2
Have you sorted this out?

[2018-05-04 21:49] Thecarisma commented on #2
Not at all

[2018-05-15 23:10] Youngestdev commented on #8
This is resolved already. I'll close it.

[2018-05-15 23:10] #8 closed

[2018-05-23 22:06] appcypher commented on #2
If I'm correct, @Youngestdev wants to access `simple` command from anywhere? (Correct me if I'm wrong). If that's the case, the bash build script should add simple's exe to /usr/local/bin.

[2018-05-23 22:40] Youngestdev commented on #2
Oh well. I've done that but didn't work. It'll be good to give it a try.
:tada:

On Wed, May 23, 2018, 23:06 Steve Akinyemi <notifications@github.com> wrote:

[2018-05-25 08:49] appcypher commented on #2
Would have tried but I don't have a Linux machine.
I think that is the standard procedure for Linux systems. It's surprising that it doesn't work.

[2018-05-25 08:54] Youngestdev commented on #2
Suprised as well. Continuous testing are still ongoing.

On Fri, May 25, 2018, 09:49 Steve Akinyemi <notifications@github.com> wrote:

[2018-05-25 10:37] Youngestdev opened #13 "Writing a vscode extension for simple."
Could someone help write a Visual Studio code  extension for  simple code linting and completion here ?. Writing SIMPLE in vscode looks like writing plain text. Someone could volunteer :tada: .

[2018-05-25 12:41] Thecarisma commented on #13
Bad i can't help because i don't use VS Code. You can create an extension folder in the **examples** repo
with name **ide-extensions** to commit the code and other IDE extensions

[2018-05-25 14:51] Youngestdev commented on #13
I'd love to work on that but I'm currently tied down.

On Fri, May 25, 2018, 13:41 Azeez Adewale <notifications@github.com> wrote:

[2018-05-30 02:44] Thecarisma commented on #13
That is a great idea @appcypher and very important too, i will commence working on it right away, i will also be part of the environments

[2018-05-30 06:30] devamaz opened #14 "Issue installing and running Simple on Ubuntu"
Have issue installing and running Simple on my  Ubuntu machine after downloading linx version form sourceforge.io, I try follow the command on the README but no says no file. So I try cloning and follow  the README instruction, everything seems to work but if I type simple in the terminal it says command not found. Pls need help on proper installation. Thanks

[2018-05-30 06:57] Youngestdev commented on #14
Hi Ahmad, we're currently working to fix the issue of adding **simple** to
global path. So to use simple, you'll have to be in the directory where
simple is installed e.g
[code]
Let me know if that works 👍

On Wed, May 30, 2018, 07:30 Ahmad Abdul-Aziz <notifications@github.com>
wrote:

[2018-05-30 07:11] devamaz commented on #14
After downloading from sourceforge.io what is the next thing for me to do.

[2018-05-30 07:15] Youngestdev commented on #14
I'd advise you download it from the release section. Then follow the readme.

On Wed, May 30, 2018, 08:12 Ahmad Abdul-Aziz <notifications@github.com>
wrote:

[2018-05-30 07:28] devamaz commented on #13
Can I work on this

[2018-05-30 09:17] Youngestdev commented on #13
Yes, you're very free 😊😊. PRs are welcomed. Be sure to read the
contributors guide 👍.

On Wed, May 30, 2018, 08:28 Ahmad Abdul-Aziz <notifications@github.com>
wrote:

[2018-05-30 10:44] devamaz commented on #14
@Youngestdev ok have download and navigate to the folder with my terminal what next

[2018-05-31 10:00] devamaz commented on #14
still get same error

[2018-05-31 12:07] Thecarisma commented on #14
download the zip [here](https://sourceforge.net/projects/simple-lang/files/s0.3.302/) unzip it in any folder,
[code]
Sorry for the inconvenience, by next release it should be available using **yum** and **apt-get** on linux distros

[2018-05-31 19:01] devamaz commented on #14
![simple](https://user-images.githubusercontent.com/25336847/40802387-5c2051b2-650d-11e8-9f77-d078e7a1286a.png)

[2018-05-31 19:09] Thecarisma commented on #14
yes you did it you can run it from that folder now @devamaz
create a file hello.sim with content
`display "Hello world"`

or choose an [example](https://github.com/simple-lang/examples) from the examples repo
We ll look into a clean install and build method on Ubuntu with **apt** by next release.
You can open a new issue anytime you face any more problem
Thank you for taking your time, i ll close

[2018-05-31 19:09] #14 closed

[2018-06-01 03:36] Youngestdev commented on #14
The examples repo for Linux is different... I'll update it soon 🙏.

On Thu, May 31, 2018, 20:09 Azeez Adewale <notifications@github.com> wrote:

[2018-06-01 14:36] Youngestdev commented on #2
Great work we've made it global. The module call is the only one remaining 😊🕺

[2018-06-03 23:16] Youngestdev commented on #2
This is resolved so I'll close it.

[2018-06-03 23:16] #2 closed

[2018-06-03 23:50] Thecarisma commented on #14
@devamaz reinstall simple-lang from the source by cloning the repo and build with the Linux-Build.sh to install simple-lang on your system and allow simple to execute from any folder in your Linux System

[2018-06-04 12:18] Youngestdev commented on #14
@Thecarisma, I think I'll have to build/modify the build.sh to suit Debian systems.

[2018-06-04 12:31] Thecarisma commented on #14
you can write another build script for debian using the format of the **Linux-Build.sh**

[2018-06-04 21:43] Youngestdev commented on #14
Yup. I'll just rewrite one like I did previously

On Mon, Jun 4, 2018, 13:31 Azeez Adewale <notifications@github.com> wrote:

[2018-06-20 04:46] Thecarisma opened #15 "Data Types Modules."
Author : @Youngestdev <img src="https://avatars3.githubusercontent.com/u/31009679?s=88&v=4&width=70&height=70" width="20" height="20" />

I'll be working on building data type modules such as List.sim and Number.sim.

# Reason.
Modules will enable us carry out basic operations in data type.

## Example
A list will be able to add, delete, reverse once the module is built.
[code]
## Result from this

[2018-06-20 04:51] Thecarisma commented on #15
Author : @Youngestdev <img src="https://avatars3.githubusercontent.com/u/31009679?s=88&v=4&width=70&height=70" width="20" height="20" />

Pheew. Update.
## The push method.
The push method has been built into two ways.
### 1. addToList(list, value).
This above, is a function to add a value to the List / Array. This function cannot be appended to the list variable directly. In this case, the list a

[2018-06-20 04:52] Thecarisma commented on #15
Author : @Youngestdev <img src="https://avatars3.githubusercontent.com/u/31009679?s=88&v=4&width=70&height=70" width="20" height="20" />

# Update.
I've written some new methods.
+ `.indexOf()`
+ `.keys()`
+ An uncomplete `.sort()` and `.slice()` method - still under development.

## And Yes ! :tada:
The List module has been pushed to the repo so it can be used from now on. More functionalities wi

[2018-06-20 04:57] Thecarisma opened #16 "FullTick module ( GUI ) for Linux OS."
The fulltick dynamic module for simple-lang is a port of the fltk C++ gui library.  To build the dynmic module it has to be compiled against the simple.so and the fltk shared library

[2018-06-20 04:59] Thecarisma commented on #16
Author : @Youngestdev <img src="https://avatars3.githubusercontent.com/u/31009679?s=88&v=4&width=70&height=70" width="20" height="20" />

So how do we accomplish this ? I have fltk installed in my OS.

[2018-06-20 05:00] Thecarisma commented on #16
Author : @iamcoderisk <img src="https://avatars2.githubusercontent.com/u/15240156?s=88&v=4&width=70&height=70" width="20" height="20" />

How far have you gone with it?

[2018-06-20 05:02] Thecarisma commented on #16
Author : @Youngestdev <img src="https://avatars3.githubusercontent.com/u/31009679?s=88&v=4&width=70&height=70" width="20" height="20" />

Well, real progress will start next week 😎.

On Sun, Jun 10, 2018, 12:15 Prince E. Darlington <notifications@github.com>
wrote:

[2018-06-20 05:02] Thecarisma commented on #16
Author : @Youngestdev <img src="https://avatars3.githubusercontent.com/u/31009679?s=88&v=4&width=70&height=70" width="20" height="20" />

There's a  new update. It's been fixed already and currently undergoing further testing. Cheers :tada:

[2018-06-20 05:51] Thecarisma commented on #16
To build the **fulltick GUI module** for linux, the libfltk library will have to be built from source as a shared library instead of static. The following step will successfully build the module

   - ./configure --enable-shared
   - sudo make
   - sudo make install

then the lib fltk should be installed on the system as a shared library rather than a static library and can be statically linked du

[2018-06-25 17:06] Youngestdev commented on #15
# Another Update.
The **.slice()** method has been added to the List module, so we can now have an instance of something like this:
[code]
But, the **.slice()** method *doesn't* support the use of one argument. If you intend to use it with one parameter, use the `.indexOf()`.

[2018-06-28 07:04] appcypher commented on #13
Is anyone still working on this? I think I may just work on this myself.
I have some experience with vim, vscode, sublime and atom syntax highlighting.
@devamaz are u still working on this?

[2018-06-28 12:42] Youngestdev commented on #13
Ah well.. I don't know if @devamaz is working on it but it's a great idea
to work on it.

On Thu, Jun 28, 2018 at 8:04 AM Steve Akinyemi <notifications@github.com>
wrote:

[2018-06-28 12:50] Youngestdev commented on #15
Well, I think i'll be closing the issue now. The issue will be re-opened only when another data type module is  built.
# Cheers :tada:

[2018-06-28 12:50] #15 closed

[2018-06-28 12:54] Youngestdev commented on #16
Well, this isn't working because an error occurs after running the examples.
[code]
I'm still trying to figure out what the problem is.

[2018-06-29 23:30] Thecarisma commented on #16
should be resolved by installing libX library family. Use the command bellow to install libX on the machine

usually the error should disappear after successfully installing the libX.
If it still persist run the **./configure** file in the fltk-source on your machine to detect the missing library then the library should be install using **apt-get**

[2018-06-29 23:58] Youngestdev commented on #16
I'll just try it and see.

[2018-06-30 10:17] Youngestdev commented on #16
I've fixed it. The problem was that some flags needed for full fltk support for simple weren't added in the makefile so I added them . I'll commit soon.

[2018-06-30 10:18] #16 closed

[2018-06-30 10:22] iamcoderisk commented on #16
Wonderful!! Bravo man...

On Jun 30, 2018 11:17 AM, "Abdulazeez Abdulazeez Adeshina" <
notifications@github.com> wrote:

[2018-06-30 13:53] Youngestdev opened #17 "Building a better debugging module."
Well, if you've been following this repo, you'll find out we've been improving SIMPLE day by day.

In this project, we'll build/improve the existing debugging module because the current code displays the given code and doesn't debug in anyways.

Current code:
[code]
The future module will focus on tracking bugs in large scall apps without having to hard-find them.

[2018-06-30 14:15] Youngestdev opened #18 "Improving Simplepad desktop app."
Simplepad is a GUI desktop enviroment built with simple. It is a text editor which *might* eventually become SIMPLE's code editor. It currently has dummy menu's which will be worked upon and the improvements will be documented in this issue.
## Preview of Simplepad.
![screenshot at 2018-06-30 15-07-36](https://user-images.githubusercontent.com/31009679/42125907-63ce2958-7c77-11e8-83df-2570921098f0

[2018-06-30 16:19] Youngestdev commented on #17
@Thecarisma, I'm unable to login Twitter and i think I'll be off for a while. Could we discuss on WhatsApp ?

[2018-07-01 23:20] Youngestdev commented on #15
Erh cool..Keeping it open will be better.. since new additions might be included.

[2018-07-04 22:32] Youngestdev commented on #18
I think one major setback for the SIMPLEPAD's desktop app is the unavailability of an onClick function such that if a user clicks open, the file is open and the contents are spread out in the editors workplace. I've tried writing one but didn't work.
@Thecarisma  What do you have to say ?

[2018-07-04 23:06] Youngestdev commented on #18
But I think an alternative for `onClick` is the `.callback()` function.. I'll be looking into it.

[2018-07-06 11:37] Youngestdev commented on #17
@Thecarisma , you haven't given updates yet.

[2018-07-06 15:29] Thecarisma commented on #17
The **throw()** block is efficient now
A simple error can be thrown from any where in the program by calling the **throw(errorvalue**) block which is a block available in the **[Throw.sim](https://github.com/simple-lang/simple/blob/master/modules/simple/debugging/Throw.sim)** file in the **simple/debugging** module therefore to use the throw(errorvalue) the [Throw.sim](https://github.com/simple-la

[2018-07-06 15:43] Youngestdev commented on #17
Great :tada:

[2018-07-06 19:08] Thecarisma commented on #17
### throwOnly(errorvalue)
Error tolerance is an encouraged feature in simple-lang therefore using the **throw(errorvalue)** is not error tolerant as it exit the program after displaying the error detail to counter this we have the **throwOnly(errorvalue)** block which is very error tolerant and does not exit the program after displaying the error

[code]

It definitely far from safe as the reason

[2018-07-07 18:33] Thecarisma commented on #17
### stackTrace()
A list that returns all the lines, blocks called in all the imported file from the beginning of the program to the point where the block **stackTrace()** is called. The block is located in the simple/debugging directory and call be used by calling the debug file

[code]
an example result of the code above will be

[code]

the number of item in the stackTrace list depends on the po

[2018-07-07 18:42] Youngestdev commented on #17
Bravo !!. This would be useful in try..catch blocks ! e.g
[code]

[2018-07-07 18:54] Thecarisma commented on #17
? is now erroneous replaces with @
if you catch an error it because the error is already thrown

[2018-07-07 19:04] Youngestdev commented on #17
Okay

On Jul 7, 2018 19:54, "A Toy Soldier" <notifications@github.com> wrote:

? is now erroneous replaces with @
if you catch an error it because the error is already thrown

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/simple-lang/simple/issues/17#issuecomment-403236167>,
or mute the thread
<https://github.com/notif

[2018-07-08 18:49] Thecarisma commented on #17
### Warn
Show warning in your program if the program is executed along with the -w or --warning flag. Warning should not be destructive in a program i.e a warning should simply be a plain info of a way to do it better or what you have made better while a bad thing was to occur. If the warning is an information that could break the program it should be throw instead

[code]
Then executed with the -

[2018-07-08 18:55] Thecarisma commented on #17
### assert()
Check and confirm whether the value sent as parameter is true. The value can be a statements e.g  `assert(( 2 > 4 && 5 < 9))`, it can be a single variable e.g ` assert(false) ` it can be a block that return an evaluation e.g `assert(getEval()) `.  If the value is not a number then an error is throw also if the value is not evaluated to true a evaluation fail error is also thrown

e.g

[2018-07-08 19:00] Thecarisma commented on #17
The debugging module is efficient enough for now. so this issue can be close if satisfied
@Youngestdev  please review

[2018-07-08 19:03] Youngestdev commented on #17
Great progress @Thecarisma . Well, for now, the issue will be closed and moved to completed
 Other forms of error throwing techniques will/might be introduced in the later future.
Cheers :tada:

[2018-07-08 19:03] #17 closed

[2018-07-09 09:58] Youngestdev opened #19 "Modular - Simple module update and downloader."
Well, we want to build simple as a very intelligent and smart programming language so we have to include a lot of environmental functions etc. Judging by the last issues, you can see we're working hard.
# So what's modular ?
Modular is a command line simple app that updates **simple** itself and it modules, it will also be used to get new modules or fetch upgrades from the repos. Just like we have

[2018-07-10 21:42] Youngestdev commented on #19
@Thecarisma any update ?

[2018-07-12 19:20] appcypher commented on #13
The simple extension for vscode has been created. This is only for syntax highlighting but more improvements can be made to it.

You can install the extension now straight from vscode. Just search `simple` or type `ext:sim` to narrow the search.

The project is hosted here.
https://github.com/appcypher/simple-vscode

And this is it on the marketplace.
https://marketplace.visualstudio.com/items?ite

[2018-07-12 20:12] Thecarisma commented on #13
Wow that great trying it at once

[2018-07-12 21:13] appcypher commented on #13
Cool. Drop any issue you find.

[2018-07-13 00:50] Youngestdev commented on #13
Nice work. I'll be off develop for a day or two but I'll fork repo and see
what we can do. Thanks !

On Jul 12, 2018 22:13, "Steve Akinyemi" <notifications@github.com> wrote:

[2018-07-13 13:52] appcypher commented on #15
Is there a dictionary implementation? I want to attempt that.

[2018-07-13 13:52] Youngestdev commented on #15
Dictionary in what sense ?

On Jul 13, 2018 14:52, "Steve Akinyemi" <notifications@github.com> wrote:

Is there a dictionary implementation? I want to attempt that.

—
You are receiving this because you modified the open/close state.

Reply to this email directly, view it on GitHub
<https://github.com/simple-lang/simple/issues/15#issuecomment-404839795>,
or mute the thread
<https://github.com/noti

[2018-07-13 13:58] Thecarisma commented on #15
@appcypher a dictionary implementation will be great due to it possibilities and it possible uses,
eager for your pull request

[2018-07-13 14:02] appcypher opened #20 "The Need for Simple Presence on RosettaCode"
[RosettaCode](http://www.rosettacode.org) is a repository where codes implementing tasks in different languages are stored. Simple has no presence there yet. So I think we should fix that.

I already created a [SimpleLang category](http://www.rosettacode.org/wiki/Category:SimpleLang) since `Simple` isn't available as category. Nothing is there yet.
Anyone can signup to the site and contribute to i

[2018-07-13 14:03] appcypher commented on #13
I guess we can close this issue now

[2018-07-13 14:31] appcypher commented on #15
@Youngestdev If you are familiar with hashmaps, that's what a dictionary is. It's an associative array that stores key-value pairs and can be indexed by their keys. I believe you already know what it is by now, otherwise, I can go into more details.

@Thecarisma I've not had enough time to grok around the language because of work. I will take a deeper dive soon. However, I'd like to know the synta

[2018-07-13 16:00] appcypher commented on #15
Just figured that the above idea won't work without varargs.
So it has to be done this way.

[code]

[2018-07-13 16:40] appcypher commented on #15
More problems encountered.
Simple doesn't allow nesting of list literals.
This doesn't work:

[code]

@Thecarisma  Is that a deliberate design decision or it's going to change in the future?

[2018-07-13 17:23] Youngestdev commented on #13
Yes and thanks for the extension. I'll be closing this issue.

[2018-07-13 17:23] #13 closed

[2018-07-13 17:30] Youngestdev commented on #15
Okay, I get it @appcypher. It'll be great to have such feature in simple-lang as @Thecarisma said.

[2018-07-14 07:05] Thecarisma commented on #15
@appcypher  the list literal error is not intentional
`display list[0][0]`
should work perfectly but i found out it erroneous on my System too i fix it immediately and update too.
for now assigning to variable should work as a replacement as in
[code]
that should not temper with performance and weigh on the memory as it is garbage collected after block execution

### Varargs
sensing your usage of

[2018-07-14 07:50] Youngestdev commented on #20
Yes, it won't be closed anytime soon. We need to discuss this. I'll dm you
straight away.

On Jul 14, 2018 08:25, "A Toy Soldier" <notifications@github.com> wrote:

[2018-07-14 07:52] Youngestdev commented on #20
I think snippets would be released once we hit the version 0.4. well have a well structured syntax and algorithmic methods

[2018-07-14 09:10] appcypher commented on #15
@Thecarisma Varargs would be definitely be nice.

You may notice that I've deleted the message abt nested list. I later found that it works in a different way.

For a list
[code]

It appears the index of the inner list starts at 1, so while  ``` list[0][0]``` won't work. This will.
[code]

[2018-07-14 09:14] Youngestdev commented on #15
Why do I feel like the index should start at 0. I thought we discussed this
@Thecarisma ?

On Jul 14, 2018 10:10, "Steve Akinyemi" <notifications@github.com> wrote:

[2018-07-14 09:21] appcypher commented on #19
This can be done like [rustup](https://rustup.rs/) or [choosenim](https://nim-lang.org/install_unix.html).

The user just types a command into the terminal and __simple__ gets installed or updated automatically. A seamless nice user experience.

The command is usually in this format.
curl https://sh.some-domain.com/install -sSf | sh

This means the shell script that gets run will be hosted on that

[2018-07-14 09:38] appcypher commented on #19
Not quite. What I meant is the script that downloads/update simple will be hosted somewhere it can be downloaded. Of course simple will be hosted somewhere, but it's the shell I was referring to.

The reason rustup-like way is nice is that new users just need to enter that command into their terminal and the script gets intalled by curl, which is run sh.  The script downloads and install simple an

[2018-07-14 09:41] appcypher commented on #19
Of course modular would still be needed for more sophisticated update or dependency management.
I suspect it may be turned into a package manager, that's if it is not already that.

But for just regular installation and updating of simple, the rustup way should do.

[2018-07-14 09:42] Youngestdev commented on #19
I just got your point. I think we'll work towards using that method for
installation. Modular is just for upgrading and downloading modules and new
environment programs. So I understand perfectly and thanks for the
clarification :+1:

On Jul 14, 2018 10:38, "Steve Akinyemi" <notifications@github.com> wrote:

[2018-07-14 09:43] Youngestdev commented on #19
And yes, modular would be a package manager. It's currently in it's beta
stage.

On Jul 14, 2018 10:42, "Abdulazeez Abdulazeez Adeshina" <
laisibizness@gmail.com> wrote:

[2018-07-14 09:47] appcypher commented on #19
Right. I just realized now that by module you are referring package. So Modular is indeed a package manager.
Cool.

[2018-07-14 09:48] Youngestdev commented on #19
Yep. Currently doing research on how we can accomplish the installation
from cloud using the curl command.

On Jul 14, 2018 10:47, "Steve Akinyemi" <notifications@github.com> wrote:

Right. I just realized now that by module you are referring package. So
Modular is indeed a package manager.
Cool.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub
<

[2018-07-14 09:48] appcypher commented on #19
So I guess the rustup thing should be opened under another issue. As this thread is for package management.

[2018-07-14 09:54] Youngestdev commented on #19
Exactly. I'll just open the issue. Thanks for bringing this up :+1:

[2018-07-14 09:57] appcypher opened #24 "Single Shell Command that Installs or Updates Simple"
This is a [rustup](https://rustup.rs/)-like or [choosenim](https://nim-lang.org/install_unix.html)-like installation process where the user doesn't need to have simple already installed on their system. Just a single command that does all the installation and/or update automatically.

The user just types a command into the terminal and __simple__ gets installed or updated automatically. A nice use

[2018-07-14 09:59] Youngestdev commented on #24
Great. I'll also be working on it.

[2018-07-14 10:06] Youngestdev commented on #24
The online host could be a VPS, cloud server or even ftp.

[2018-07-14 10:13] Thecarisma commented on #15
The list index definitely start from zero but and one two but it should not clash in which ever way.
The support of index starting from 1 is resolving to the error of accesing index withing index [0][0].
for now till the error is resolve we can assign the first index to a variable and get the index at zero
[code]

till error is resolved

[2018-07-14 10:19] Thecarisma commented on #24
This issue is good as closed as the function is part of modular environment app as simple-lang can be upgrade with
[code]
The modular app will be responsible for modules install and upgrade too.
The upgrade feature as been tested with windows and a localhost and it works perfectly, will soon be tested on linux too.

@Youngestdev  the online host is currently sourceforge.net as they provide a free

[2018-07-14 10:34] Thecarisma commented on #24
i went over [choosenim-like](https://nim-lang.org/install_unix.html)  and the method is pretty straight forward, this issue will be taken over above other issues first and it will be resolve in few hours.
Learnt something new never know remote script could be executed

[2018-07-14 10:35] Youngestdev commented on #24
Lol, not surprised you said this is new . You're a new Unix user 😃

[2018-07-14 14:35] appcypher commented on #24
Seems like everyone wants to work on it, but I see the task has been assigned to @Thecarisma.
@Thecarisma Do you have a Unix OS to test it on?

[2018-07-14 14:36] Youngestdev commented on #24
Well, he assigned it to himself.. He just installed an Ubuntu OS tho. If he can work on it, he can share it so we all test it instead of everyone working on it .
Your thoughts @appcypher ?

[2018-07-14 14:39] appcypher commented on #24
Makes sense

[2018-07-14 14:43] Youngestdev commented on #24
Great. :+1:. I'm currently working on the docs 😃

[2018-07-14 15:09] Thecarisma commented on #24
@appcypher it will be greater if you can work on it as i am resolving other issue the reason i want to work on it was because it very important.

[2018-07-14 17:53] Youngestdev commented on #18
@appcypher hope we ain't sleeping on this ?

[2018-07-14 21:15] TNkemdilim opened #25 "IRC or Gitter Channel for SimpleLang"
I think it will be great if a gitter channel or IRC is created for SimpleLang to help in facilitating communication.

I would really love to contribute, but I'm not fully updated on the roadmap of simple.

I think an IRC or gitter channel would help facilitate that.

[2018-07-14 21:19] Youngestdev commented on #25
Hi, I think we do have a slack channel.
@Thecarisma

On Jul 14, 2018 22:15, "Tochukwu Nkemdilim" <notifications@github.com>
wrote:

[2018-07-15 08:07] appcypher commented on #24
I will look into this. But I'm more interested in making simplebridge work with the vscode extension currently;

[2018-07-15 08:08] appcypher commented on #25
@Youngestdev Can I be added to the slack channel.

[2018-07-15 09:03] Thecarisma commented on #25
[slack channel](https://join.slack.com/t/simple-lang/shared_invite/enQtMzQwNzY1NTI1MDEyLWFlMzIzNGY3ZjBlYzVlZDRkY2IwNDA4N2U0Y2E4Y2QwNWY1ZjEyYjc1MTE3Mjk2OWZlNjQyMjA2OTZjZjM0NWI)

[2018-07-15 15:48] appcypher commented on #2
Shouldn't the module call problem be added as a new issue with a milestone on it.
The module call doesn't work for me, perhaps I haven't gotten the hang of it.

[2018-07-16 07:57] Thecarisma commented on #2
Are you sure the module is installed at all as you use MAC, the current mac script does not build the modules nor add the modules folder to path, no access to a MAC PC will delay providing a very efficient build script.
If you want to build the modules and the dynamic modules you can review the Linux-Build.sh script for a lead

[2018-07-16 13:54] Youngestdev commented on #2
I think the call module error @appcypher  is receiving is as a result of the module not building. Well, like @Thecarisma said. It'll be good if you could fix that as you're a Mac user.

[2018-07-16 16:46] isocroft commented on #25
I believe **simple-lang** can have at least 2 comms channels (IRC and Slack). IRC can be used for core team meetings (i see **simple-lang** having a core team as time goes on). While slack will be for everyone who is interested in simple and doing one or two things (docs development, online text/video tutorials developement, code reviews, release-life cycle roadmap development, code developement e

[2018-07-16 16:51] isocroft opened #26 "Docs link returns a 404"
This [link](https://github.com/simple-lang/simple/docs) which is on the README.md links to a GitHub 404 page. The correct link should be [this](https://github.com/simple-lang/simple/tree/master/docs). Can we have this corrected ?

[2018-07-16 18:42] appcypher commented on #26
You can create a PR for that. But it would be faster if the core devs make a quick fix.
@Thecarisma @Youngestdev

[2018-07-16 19:57] Thecarisma commented on #26
fixed

[2018-07-16 19:57] Thecarisma commented on #25
That is a great idea an IRC channel will be created soon

[2018-07-16 20:57] appcypher commented on #26
I like your new docs by the way. Very informative. 👍

[2018-07-16 21:01] appcypher commented on #25
I suggest one on gitter.im

[2018-07-16 23:18] appcypher commented on #25
Created one on gitter.

https://gitter.im/simple-language/simple

[2018-07-17 10:14] Thecarisma commented on #26
All the thanks to @Youngestdev

[2018-07-17 14:19] isocroft commented on #26
Nice! Since this is fixed i'll close

[2018-07-17 14:19] #26 closed

[2018-07-17 22:37] appcypher commented on #15
Just found out that there is a dictionary data structure in Simple already.
[code]
My map impl is kinda useless unless I change it to HashMap.
Well I was thinking of learning some cryptography. So I think I will turn the Map into HashMap.

BTW, we need to document things more to prevent duplication of effort.

[2018-07-17 23:01] Youngestdev commented on #15
Well. I just thought of that too @appcypher. I'll try write a list of already written modules to avoid duplication.

[2018-07-18 08:33] Thecarisma commented on #15
@appcypher  you might not need to dig deep into cryptography you can use the sha1, sha254, md5 and other hashes from the security library to hash keys
`call "simple/security/Hash.sim"`
This will require you to have build the **security.dylib** dynamic module for MAC. And no module is useless it might not just be use as often as other module so let the Map module be.

[2018-07-18 09:47] appcypher commented on #15
Cool. I will look into that.

[2018-07-18 19:53] Youngestdev commented on #24
There's an update on this from @Thecarisma. It'll be rolled out Publicly soon enough as it's under test

# Cheers :tada:

[2018-07-18 22:46] appcypher opened #27 "Display should print trailing newline or new print function be created"
Currently the `display` magic function doesn't print a newline after its arguments, which leads to the need to sprinkle `crlf` variable about in the code. As a result, the following code prints shows its results as `Hello worldHello simple`.
[code]
Also`crlf`, which I believe signifies ```carriage return + linefeed```, is platform-specific.

It would be nicer if display adds a newline to the end i

[2018-07-18 22:47] appcypher commented on #27
I'm up for working on a new function if modifying existing one is not an option

[2018-07-19 01:02] Youngestdev commented on #27
It'll be great if you work on another one. It'll give users the opportunity to work with the one that matches their preference.

[2018-07-19 07:07] appcypher commented on #27
Alright will do.

[2018-07-19 07:16] appcypher commented on #27
@Youngestdev Do you have an idea where ```display``` is defined.

[2018-07-19 07:23] Youngestdev commented on #27
Yep. It's defined in... `simple_api.c` in simple/source folder.

[2018-07-19 08:38] Thecarisma commented on #27
As indicated by @Youngestdev  crlf is define in the **simple_vm.c** file, a new line var can be defined in there. The display is made not to print new line after characters, instead **@** will print new line after the caharacters
[code]

[2018-07-19 08:45] Youngestdev commented on #27
This short hand style of display, should be a regular something. I think it should be used mainly in large programs

[2018-07-19 08:51] appcypher commented on #27
@Youngestdev Would it make sense if the `@` is changed to `print` or `echo` or sth much more descriptive?
I think the `@` doesn't readily show what it means just by looking the code and that's not beginner-friendly

[2018-07-19 09:08] Youngestdev commented on #27
The print will be okay. The `@` isn't friendly 😃😃

[2018-07-19 09:18] Thecarisma commented on #27
It is there to reduce typing as for web so simple and html will look compatible like
[code]
and
[code]

The print function is present in the `siimple/utilities/Console.sim` but not within the compiler **display** is the actual keyword for printing to std output and read to read from std input.
You can check the **Console.sim** file you will find more useful blocks within it like `print() println()

[2018-07-19 09:18] Youngestdev commented on #27
Then, we'll go with `echo`.

[2018-07-19 09:31] appcypher commented on #27
@Thecarisma
Okay, now I understand why you made it `@`. Will also check out the Console module.
I will probably contribute to the docs as well to make sure some of these things don't go unnoticed.

[2018-07-19 09:34] appcypher commented on #27
@Youngestdev
I think one can manage with Console.println for now

[2018-07-19 09:36] Youngestdev commented on #27
Can we use the console function in GUI apps ?

On Jul 19, 2018 10:34, "Steve Akinyemi" <notifications@github.com> wrote:

[2018-07-19 09:38] Thecarisma commented on #27
The console is limited to Windows Command Line and Terminals just to basic standard output. The console functions does not draw on the display(the os will go gaga if it tried)

[2018-07-19 09:39] Thecarisma commented on #27
We have the fulltick(GUI) module for GUI and porting QT will also be done in future too

[2018-07-19 09:42] Thecarisma commented on #27
The only thing that will be fix in this issue will be to have **nl = "\n"**. so we can have a nl defined within the vm that will not be platform specific

[2018-07-19 13:29] Youngestdev commented on #27
Well, on a final note, if this won't be fixed / improved then I suggest closing this issue.

[2018-07-19 16:31] #27 closed

[2018-08-19 09:26] Thecarisma commented on #24
The installer script has been created and tested on the OSes
Windows amd64 (curl mingw)
Ubuntu amd64 (curl)
Lubuntu i386 (curl)

simple lang can be installed from the terminal line using the following command

[code]

@appcypher review

[2018-09-14 12:33] appcypher commented on #24
How is this going? This doesn't still work for Mac.

[2018-09-14 16:07] Thecarisma commented on #24
This work for Linux and Windows as tested, it has not been tested on MAC yet

[2018-09-14 16:19] Thecarisma commented on #24
You can craft out a new script for MAC

[2018-09-23 21:51] Youngestdev opened #37 "Linux Build needs console-colors"
# Description - A brief one.
Linux Build fails due to the absence of console-color.
## Expected behavior and actual behavior.
Build is supposed to go smoothly instead it went bad.
## Steps to reproduce the problem.
Fix the Makefile to build without the console-color or add the console-color file back else wait for #29
## Specifications - version of the project, operating system, or hardware.
s0.3.

[2018-10-12 19:47] Youngestdev opened #42 "Support for var and strict."
From the [ROADMAP](https://github.com/simple-lang/simple/ROADMAP.MD), I saw this :

_add and use the keyword `var` to allow variable declaration_

What's this all about ? .
 Do you mean to declare variables in simple-lang after this is accomplished, it'll be:

[code]

instead of the current version of variable declaration ?

[code]

## Also,

The support for `strict` is really nice but what are th

[2018-10-13 07:12] Thecarisma commented on #42
First and foremost. **No matter what new feature or changes brought to the lang it will always be backward compatible and all previous structure and syntax will remain**.

### Use strict
The implementation of the `use` keyword will be as a directive to the compiler and VM for developer to instruct the lang to do something i.e it an instructional directive and can also be achieved with `##` when im

[2018-10-13 07:52] Youngestdev commented on #42
From your explanation, all I can summarise is this :

The `var` keyword places a permanent datatype to its child such that a string cannot be changed to object, list or so. Isn't it ? And as such, it means for every variable used, they must be declared one way or the other ?

[2018-10-13 08:14] Thecarisma commented on #42
Not at all.

The `var` keyword if use on normal context it useless e.g `var one = 1` is same as `one = 1` but if `var` is combined with `use strict` then `var` is useful as it the only way to declare variable after `use strict`
[code]

Therefore using the `var` keyword without first insueing `use strict` is meaningless

[2018-10-13 08:31] Youngestdev commented on #42
Okay then. I'll sure look out on this.

[2018-10-13 08:37] Thecarisma commented on #42
Let leave it open till it done

[2018-10-13 08:40] appcypher commented on #42
Simple is still new and the issue of backwards compatibility shouldn't be a major concern at this point.
Why not get rid of the old syntax and make `use strict` the default compiler context; I know a lot of people will simply use `use strict` everywhere instead of relying on their senses to catch the problem.
And a `var` keyword doesn't make simple any less dynamic it just makes it more apprehensi

[2018-10-13 08:59] Youngestdev commented on #42
I think @appcypher has a point.  Not everyone find the bugs easily perhaps having a syntax change is okay since we have the `final` implemented we could have `var` and something like `const` for constants.

[2018-10-31 15:23] Youngestdev opened #47 "Fulltick issue"
# Description - A brief one.
Error from`fulltick` dynamic module during build

![screenshot from 2018-10-31 16-13-33](https://user-images.githubusercontent.com/31009679/47798517-d19da500-dd28-11e8-8338-efba5a125cad.png)

## Expected behavior and actual behavior.
Smooth installation but instead there's an error from the `png_write` function and/or stream.
## Steps to reproduce the problem.
Perhaps

[2018-10-31 23:08] Youngestdev commented on #47
@Thecarisma, this is within your reach.

[2018-10-31 23:59] Youngestdev commented on #47
So I figured it out, the `png_write` isn't initialised !. Commenting it out fixed the error

[2018-11-01 12:19] Thecarisma commented on #47
That is not a solution, though for now the function is not important but i ll recommend you install `libpng` on your Fedora OS. Use this command
[code]
For compiling x86 and amd64
[code]

[2018-11-01 12:22] Thecarisma commented on #47
Don't forget to add the flag in your fulltick makefile in the **LDFLAGS** line
[code]

[2018-11-01 13:51] Youngestdev commented on #47
Okay, I'll do that and see the changes.

[2018-11-01 17:56] Youngestdev commented on #47
Well, it's still the same.  `png_write` isn't declared in that scope.

[2018-11-13 19:49] Thecarisma commented on #47
Found out the erronous function png_write is not needed. I used it for testing purpose only. You can close.

[2018-11-13 19:50] Youngestdev commented on #47
Okay cool.

[2018-11-13 19:50] #47 closed

[2018-11-15 17:09] #37 closed

[2018-12-31 09:09] Thecarisma opened #54 "final variable initialized as null does not allow re initialization to real value"
Following initailization of a final variable to null the variable should be able to allow initialization once more to real value instead of throwing `Cannot assign a value to the final variable` error.
Example :
[code]

[2018-12-31 09:31] Youngestdev commented on #54
Eh, well. I think a final variable should be defined with whatever it should be allocated to.

[2018-12-31 09:43] Thecarisma commented on #54
Some time the initialization might be required to occur in a constructor or method such as
[code]
Although the approach below work
[code]
but sometime people can default to the above therefore the behavior should be the same.
null is currently an empty string which might be what is confusing the vm I ll open an issue for the null to be a true NULL pointer

[2018-12-31 09:48] Thecarisma opened #55 "'null' is an empty string, make a true pointer with address 000000x0"
`null` in simple is currently an empty string `''` which can be confusing when comparing with an actual empty string . e.g
[code]
is same as
[code]
This appear to be very bad as some implementation requires to differentiate between null and and empty string such as the [Console](https://github.com/simple-lang/simple/blob/master/modules/simple/utilities/Console.sim) module.
Also null variable shoul

[2019-01-14 11:18] sdmg15 opened #57 "Build fails on ubuntu"
# Description - A brief one.
While trying to build on Ubuntu it fails due to double slash added to directories path
[code]
## Expected behavior and actual behavior.
Building without errors
## Steps to reproduce the problem.

## Specifications - version of the project, operating system, or hardware.

[code]
## PR Supporting Fix
None yet

[2019-01-14 16:34] Youngestdev commented on #57
Wierd. I don't tjink that's the problem. Did you run with the `-c` option
to configure your system ? Also I'd like a full screenshot

On Mon, Jan 14, 2019, 12:18 Sonkeng Maldini <notifications@github.com wrote:

[2019-01-14 19:17] Thecarisma commented on #57
[code]

This is an expected behavior while installing on a system, the makefile tries to uninstall previous installation using the *uninstall* recipe in the makefile, if an old build has not been installed the error above occur in the makefile.
This should in no way affect the installation as it still proceed to install simple-lang.

You can provide a screenshot or log for further review

[2019-01-14 23:35] sdmg15 commented on #57
Well, here's a link to a session record of my terminal

https://asciinema.org/a/WLrrMYBTXcoJbsllyHUGN1Fz4

[2019-01-15 12:55] Thecarisma commented on #57
According to your screen cast the issue is from linking with 32 bit library on a 64 bit system, add the **x64** flag to the build script command, to build for 64 bit

[code]

[2019-01-16 04:17] sdmg15 commented on #57
I'm not sure the issue is there. Can you read again the log message that I posted in the initial comment ?
The error here is due to double slash that is added to folder paths.
I just recompiled with the instructions but still get the same error .

For example check these lines
[code]
It's trying to create the folder "/user//lib" even though we used the argument "-p" it cannot create the folder due

[2019-01-19 17:40] #57 closed

[2019-02-23 11:35] Thecarisma commented on #55
This has been resolved by the commit https://github.com/simple-lang/simple/commit/1074c6518371e5af844dcaede190ab2a1d1bd418. `null` is now a valid null variable it neither string, number, list, object or pointer

[2019-02-23 11:35] #55 closed

[2019-02-25 10:31] synergixe commented on #18
Any progress on this ?

[2019-02-25 11:19] Thecarisma commented on #18
No progress on this because the development for simple-pad has been halted due to the fact that it depends on the fulltick module which is still very much in it infancy. An alternate to this is to use the REPL which is the command line option similar to python repl.

The fulltick module is very much in development and can be used create reasonable GUI programs for all platform including android, b

[2019-02-25 23:28] synergixe commented on #18
Alright...

[2019-02-26 10:25] kaecy opened #61 "runtime error loading fulltick"
Trying to compile this example: https://github.com/simple-lang/simple/blob/master/examples/gui/old-obsolete/buttonsdemo.sim

Outputs:
simple0.3.36-windows64/modules/dynamic_modules/fulltick.dll
Line 23 -> RUNTIME ERROR 24 : Runtime Error Occur while loading the dynamic library!
        at callModule() in file DynamicLoader.sim
        at line 16 in file gui.sim

I'm using the release version of si

[2019-02-26 16:44] Thecarisma commented on #61
simply dis regard the old release versions. Compile the language from source by following the instruction on the README file for latest update. A new alpha version will be release by March 1.

Also the example you are trying to run is obsolete you should try the examples in these directory instead.
https://github.com/simple-lang/simple/tree/master/examples/gui/fulltick
https://github.com/simple-la

[2019-03-08 03:37] Thecarisma commented on #20
The simple version 0.4.0 has been released now Documentation on public domains such as wikis, snippets site can be made to increase awareness of the project

[2019-03-08 03:42] Thecarisma commented on #61
The simple version 0.4.0 has been released now download it at https://simple-lang.sourceforge.io/download/ .
You can also choose to build from  source following the instructions on the README

[2019-03-08 15:03] kaecy commented on #61
I try to run a simple program but **0.4.0** just prints the --help string. It doesn't do anything else.

[2019-03-08 15:06] Youngestdev commented on #61
Hi, did you run it like this ?

[code]

If you did and you still got a void response. Do send a snapshot.

On Fri, Mar 8, 2019, 16:03 AKaecy <notifications@github.com wrote:

[2019-03-08 16:39] kaecy commented on #61
Ah! So it doesn't open anything unless it ends in a .sim. I think that needs a slight rework. So anyway it is working!
Apart from the huge boilerplate code at the top it's pretty good.
![image](https://user-images.githubusercontent.com/4354982/54041776-7725c100-41c0-11e9-9966-caf4e7de4fcb.png)

[2019-03-08 16:39] #61 closed

[2019-03-08 17:32] Youngestdev commented on #61
Well not really. You can make your programs standalone program by using the `bake` environment.

Try running `bake program.sim` from your terminal and lmk the output.

[2019-03-08 17:52] kaecy commented on #61
So first I did `bin\bake program.sim`.
Output:
[code]
I don't like this. I need simple in my environment. A program should be able to get it's own path using [GetModuleFileNameA](https://docs.microsoft.com/en-us/windows/desktop/api/libloaderapi/nf-libloaderapi-getmodulefilenamea)

So I did `path %path%;bin` because I have simple installed on my desktop. Then `bake program.sim`.
Output:
[code]
I ca

[2019-03-08 18:59] Thecarisma commented on #61
For the boiler plate code will be taken into consideration before next release by allowing the use of the asterisk symbol `*` to import similar sub module e.g `call fulltick.*` this way all other module under fulltick will no longer be needed to be import.

The Installer is currently not configured to add the binary folder to system path, you can do that from the command line, this will also be vi

[2019-03-11 09:19] mykeels opened #62 "Issues with running on Mac"
# Description

I successfully built simple for Mac, but it's refusing to compile the example *.sim code.

## Expected behavior

I expect that `simple ../examples/algorithms/degreeToRadian.sim` would actually run the `degreeToRadian.sim` file.

## Actual behavior

It does not

![image](https://user-images.githubusercontent.com/11996508/54112684-014f6e80-43e7-11e9-9bc6-1a97ecc35d1e.png)

[2019-03-11 13:59] Thecarisma commented on #62
`systemic` and `string_savant` are dynamic modules which provide low level access. The reason for this error is because the dynamic modules has not been built.
In the source `../examples/algorithms/degreeToRadian.sim` the call to `simple.util.Math` requires some dynamic module to be available.

This is currently the number 1 priority, build scripts has been written for MacOSX and complete build on

[2019-03-11 14:16] mykeels commented on #62
So, how can I build the dynamic libraries?

[2019-03-11 14:19] Thecarisma commented on #62
Very well I ll commit to master soon

[2019-03-11 15:39] Thecarisma commented on #62
You can pull from master and use the /build/Mac-Build.sh script to build completely from source

[2019-03-12 20:37] Thecarisma commented on #62
I think this issue can be closed

[2019-03-17 08:39] #62 closed

[2019-05-06 08:56] Youngestdev commented on #15
Heyo! It's quite long here...

I be trying to implement another function/method in the `List` module.

Although I have only rough ideas yet, I'll try out them into reality.. I'll see what I can do on that and keep updating us!

[2019-05-06 09:27] Thecarisma commented on #15
Just ensure your fork is upto date, build from master as breaking changes has been implemented

[2019-05-06 09:33] Youngestdev commented on #15
Sure

On May 6, 2019 10:27 AM, "A Toy Soldier" <notifications@github.com> wrote:

Just ensure your fork is upto date, build from master as breaking changes
has been implemented

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/simple-lang/simple/issues/15#issuecomment-489560334>,
or mute the thread
<https://github.com/notifica

[2019-05-19 16:42] Thecarisma opened #64 "Variable declaration garbage collected and destroyed after loop in recursive function call"
# Description

After the implementation of variable declaration using the `var` keyword, calling a function recursively destroy the variables used within a loop. All referenced global variables in the loop is garbage collected and all local variables are destroyed too after the function has complete execution.

## Expected behavior and actual behavior.

Function call should be successful when call

[2019-05-19 17:45] Thecarisma commented on #64
resolved in the commit https://github.com/simple-lang/simple/commit/516af14b05c4dd5b8bd98dc1ae6d5990792c4ff8

[2019-05-19 17:45] #64 closed

[2021-06-20 12:28] MahmoudFayed opened #69 "Copyright (You are using the Ring programming language source code and removed the original author name!)"
Hello

The source code of this language (https://github.com/theratioproject/simple/tree/master/simple/sources) and (https://github.com/theratioproject/simple/tree/master/simple/include) is based on the source code of the (Ring programming language)

URL: https://www.codeproject.com/Articles/1089887/The-Ring-Programming-Language
URL: http://ring-lang.net
URL: https://github.com/ring-lang/ring
URL:

[2021-06-20 12:45] Thecarisma commented on #69
The project is not been manage any more, is it ok if I add the info in the README file only?

[2021-06-20 12:46] MahmoudFayed commented on #69
Yes, Just add this line "This project is based on the source code of the Ring programming language  (http://ring-lang.net) Compiler & VM by Mahmoud Fayed"

[2021-06-20 12:52] Thecarisma commented on #69
I have updated the README. I am a big fan of your works I look forward to contributing to some of your projects in future.

[2021-06-20 12:54] MahmoudFayed commented on #69
Thanks for the update & Thanks for your kind words

[2021-06-20 12:56] #69 closed